* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
}

.main {
    width: 1200px;
    min-height: 100vh;
    max-width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

.nav {
    display: flex;
    align-items: center;
    height: 48px;
    background-color: #333;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    margin-right: 48px;
}

/* Article */
h1 {
    line-height: 2rem;
}

article {
    padding: 0 16px;
    line-height: 1.6rem;
}

article img {
    width: 640px;
    max-width: 100%;
    display: block;
    margin: 32px auto;
}
.nav__overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    animation: fadeIn linear 0.3s;

}
.nav__mobile{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    width: 320px;
    max-width: 100%;
    /* display: none; */
    opacity: 0;
    transform: translateX(-100%);
    transition: transform linear 0.2s,opacity linear 0.3s;
}
.nav__bars-btn{
    width: 28px;
    height: 28px;
    color: #fff;
    display: none;
    margin-left: 16px;
    font-size: 40px;
    margin-bottom: 20px;
}
.nav__mobile .nav__mobile-close{
    position: absolute;
    top: 0.4rem;
    right: 2rem;
    width: 28px;
    height: 28px;
    color: #333;
    font-size: 50px;
    width: 28px;
    height: 28px;
}
.nav__mobile-list{
    /* list-style: none; */
    margin-top: 54px;
}
.nav__mobile-link{
    display: block;
    list-style: none;
    font-size: 1.8rem;
    color: #000;
    padding: 8px 0px;
    text-decoration: none;    
}
.nav__input:checked ~ .nav__overlay{
    display: block;
}
.nav__input:checked ~ .nav__mobile{
    transform: translateX(0);
    opacity: 1;
}
/* Mobile */
@media(max-width:1023px){
    .nav__mobile{
        display: block;
    }
    .nav__pc{
        display: none;
    }
    /* .nav__overlay{
        display: block;
    } */
    .nav__bars-btn{
        transform: translateX(0%);

    }

    
}
@keyframes fadeIn{
    from{
        opacity: 0;
        /* transform: translateX(-100%); */

    }
    to{
        opacity: 1;
        /* transform: translateX(0); */
    }
}