/* Reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family:  Helvetica,Arial, sans-serif;
}

/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng

*/

/* Common */

.clear{
    clear: both;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.colum{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.colum-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
/* Main */
#main{

}

#header{
    z-index:1 ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: black;
 

}
#nav{
    display: inline-block;
}
#nav li{
    
    display: inline-block;
    position: relative;
}
#nav li:first-child{
    display: inline-block;
}
/* Chỉ áp dụng cho thẻ ul,li cấp 1 */
#nav > li > a{
    text-transform: uppercase;
}

#nav li a{
    line-height: 46px;
    display: block;
   color: white;
   text-decoration: none;
   font-size: 20px;
    padding: 0 24px;
}


#nav >  li:hover > a{
    color: black;
    background-color: #ccc;
   
}
#nav li:hover .subnav{
    display: block;
}
#nav, .subnav{
    list-style-type: none;
}


#nav .subnav{
    min-width: 160px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.3) ;
}

#nav .subnav  a{
    
    color: black;
    padding: 0 12px;
    line-height: 38px;
}
#nav .subnav li:hover{
    background-color: #ccc;
    display: block;
}

img{
    background-color: black;
    width: 20px;
    background-size: 20px;
}
#nav .nav-arrow-down{
    font-size: 12px;
}
#header .mobile-menu__btn{
    position: absolute;
    top: 0;
    right: 0;
}

#header .mobile-menu__btn,
#header .search{
   float: right;
   padding: 0 21px;
  
}

#header .mobile-menu__btn:hover{
    background-color: #ccc;
}

#header .mobile-menu__btn:hover .ti-menu{
    color: #000;
}

#header .mobile-menu__btn .menu-icon,
#header .search-icon{
    color:#fff;
    font-size: 20px;
    line-height: 46px;
}

/* Header Seach */
#header .search:hover{
    background-color: orangered;
    cursor: pointer;
   
}
#slider{
    position: relative;
   margin-top: 46px;
   padding-top: 50%;
   background: url('/project\ \(The\ Band\)/slider1.jpg') top center / cover no-repeat ;
   
  
}
#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: #fff;
   width: 100%;
    text-align: center;
   
}
#slider .text-heading{
    font-weight: 100;
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
    text-shadow:0 0 1px #000 ;
}

/* Content */
#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0px 112px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding-left: 16px;
    padding-right: 16px;
}
 #content .section-heading{
     font-weight: 500;
     font-size: 30px;
     letter-spacing:4px ;
     text-align: center;
 }

 #content .section-subheading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
    
 }
 #content .about-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;

 }
 #content .member-item {
    float: left;
    width: calc(100% / 3); 
    text-align: center;
 }
 #content .member-list{
    margin-top: 48px;
    overflow: hidden;
}

#content .member-item img{
    width: 154px;
    border-radius: 5px;
    margin-top: 15px;
}
#content .member-name{
    font-size: 15px;
}

/* Tour Section */
#content .tour-section{
    background-color: #000;
    /* height: 850px; */
}
#content .tour{
    color: #fff;
}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list li{
    list-style: none;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
.tickets-list .sold-out{
    padding:  4px 5px;
    background-color:  #f44336;
    color: #fff;
    margin-left: 20px;
}
.tickets-list .number{
    color: #fff;
    background-color: #000;
    width: 24px;
    height: 24px;
    float: right;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
}

/* Places */

.places-list{
   margin-top: 16px ;
}
.places-item{
    width: 33.33333%;
   
   
}
.places-item img{
    width: 100%;
    display: block;
}
.places-item img:hover{
    opacity: 0.6;
}

.places-body{
    font-size: 15px;
    padding: 16px;
    background-color: #fff;

}
.heading{
    font-size: 15px;
    font-weight: 600;
}
.time{
    margin-top: 15px;
    opacity: 0.6;
}
.desc{
    margin-top: 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}
.tickest-btn{
   background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 11px 16px;
   display: inline-block;
   font-size: 18px;
   border: none;
}
.tickest-btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

/* Modal Box*/

.modal{
    display: none; 
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4 );
     align-items: center;
     justify-content: center;   
}
.modal-container{
    position: relative;
   width: 900px;
   max-width: calc(100% - 32px);
   min-height: 300px;
    background-color: #fff;
    animation: modalFadeIn ease 0.5s;
}
.modal-container .modal-header{
    background-color:#009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 30px;
    color: #fff;
}
.modal .modal-heading-icon{
    margin-right: 16px;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 18px; 
    padding: 12px; 
    text-align: center;
} 
 .modal-close:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal-body{
    padding: 16px;
}
.modal-body label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
    
}
.modal-body .modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

.modal-body #btn-buy{
    background-color: #009688;
    border: none;
    width: 100%;
    padding: 18px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}
.modal-body #btn-buy:hover{
    opacity: 0.8;
    cursor: pointer;
  
}
.modal-footer{
    padding: 16px;
    text-align:right ;
    
}
.modal-footer #heal{
    color: #2196F3;
}
@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* Contact form */
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-info a{
    color:#101aef ;
    opacity: 0.8;
}
.contact-info a:hover{
    color:blueviolet;
    opacity: 0.8;
}
.contact-form{
    font-size: 15px;
}
.contact-form  .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}
.input-message{
    margin-top: 8px;
   
}
.mt-16{
    margin-top: 16px !important;
}
.contact-form  .btn-send{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 11px 16px;
    float: right;
    margin-top: 15px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    appearance: none;
    -webkit-animation: none;

   
}
.contact-form  .btn-send:hover{
    background-color: #f44336;
    color: #000;
    cursor: pointer;

}
/* Map section */
.map-section img{
    width: 100%;
}

/* Foodter */
footer{
    padding: 64px 16px;
    text-align: center;
}
footer .social-list{
    font-size: 24px;

}
footer .social-list a{
    color: rgba(0,0,0,0.6 );
    text-decoration: none;
}

footer .social-list a:hover{
    color: rgba(0,0,0,0.4 );
}
footer .copyright{
    margin-top: 15px;
    font-size: 15px;
    color: rgba(0,0,0,0.6 );
}
footer .copyright a{
    color: rgba(0,0,0,0.6 );
}
footer .copyright a:hover{
    color: rgba(0,0,0,0.4 );
}

